body{
	width: 100vw;
	height: 100vh;
	background-color: darkgrey;
	margin: 0;
	padding: 0;
	display: grid;
	grid-gap:10px;
	grid-template-rows: auto auto auto;
	grid-template-columns: 30% 30% 30%;
	grid-template-areas: "header header header"
		                 "left middle right"
		                 "footer footer footer";
}
header{
	border:1px solid red;
}
.box{

}
.l{
	grid-area: left;
}
.m{
	grid-area: middle;
}
.r{
	grid-area: right;
}
footer{
	grid-area: footer;
}